body{
    text-align: center;
    background: #FFFDD0;
    color: white;
}
#game-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 20px solid white; /* optional */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.video {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* makes video fill the box */
    z-index: 0;

}
#score-label {
    font-size: 20px; 
    color: black; 
    margin: 50px;
    text-align: center; 
}
#game {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
}

.ui-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none; /* hidden by default */
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 36px;
    text-align: center;
}
.ui-screen p1 {
color: red; 
font-size: 16px; 
text-align: center; 

}

button {
    margin-top: 20px;
    padding: 12px 22px;
    font-size: 24px;
    cursor: pointer;
}

p1{
text-align: center;
color: black;     
font-size: 20px; 
margin-top: 100px; 
}